.portfolio__minproducts {
  width: 20%;
  height: 163px;
  margin: 1rem 1rem;
  box-shadow: 10px 10px 208px -4px #c2cdff;
  -webkit-box-shadow: 10px 10px 208px -4px #c2cdff;
  -moz-box-shadow: 10px 10px 208px -4px #c2cdff;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  text-align: center;
  border: 0.1px solid #b7b7b7;
  background: rgb(243, 242, 242);
}

.portfolio__product-image-min img {
  width: 100%;
  cursor: pointer;
}

.portfolio__minproducts .portfolio__popup-container {
  height: auto;
}

@media screen and (max-width: 1000px) {
  .portfolio__minproducts {
    height: 100px;
  }
}

@media screen and (max-width: 880px) {
  .portfolio__minproducts {
    width: 38%;
    height: 105px;
  }
}
@media screen and (max-width: 450px) {
  .portfolio__minproducts {
    width: 80%;
    height: 140px;
  }
} 
