* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: blue;
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__text {
  display: block;
  text-shadow: 0px 0px #00000000;
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4rem 6rem 2rem 6rem;
}

.section__margin {
  margin: 3rem 6rem 4rem 6rem;
}
